<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>URL Unshortener</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% if redirURL.history and redirURL.history[0].status_code in (301, 302) %}
        <h1 class="green-text">Your unshortened URL is:</h1>
        <p>{{ redirURL.url }}</p>
        <br><br>
        <a href="/" class="home-button">Home</a>
    {% elif redirURL.status_code == 200 %}
        <h1 class="green-text">200</h1>
        <p>This url doesn't go anywhere/isn't shortened.</p>
    {% endif %}
</body>
</html>
