<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>URL Unshortener</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 class="green-text">URL Unshortener</h1>
    <form method="POST" action="/">
        <input name="url" placeholder="Enter the shortened URL" required>
        <input type="submit" value="Unshorten">
    </form>
    <footer>Made with <span class="red-text"><3</span> by <a href="https://github.com/radeeyate" class="green-text">radi8</a></footer>
</body>
</html>
